<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-rfid"
    version="0.0.1">
    <name>RFID</name>
    <description>Cordova Device RFID</description>
    <license>Apache 2.0</license>
    <keywords>cordova,rfid</keywords>
    
    <js-module src="www/rfid.js" name="rfis">
        <clobbers target="rfid" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RFID" >
                <param name="android-package" value="de.mindsquare.rfid.RFID"/>
            </feature>
        </config-file>

        <source-file src="src/android/RFID.java" target-dir="src/de/mindsquare/rfid" />
        <source-file src="src/android/SearchTagActivity.java" target-dir="src/de/mindsquare/rfid" />
        <source-file src="src/android/SerialPortActivity.java" target-dir="src/de/mindsquare/rfid" />
        <!-- <source-file src="src/android/x6-lovdream.jar" target-dir="libs" /> -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
